[project]
	description = A modest attempt at setting up a basic API for communicating position as well as a server interface to with authentication, visualization and a communication.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Patrik Norman (patsy)
[access "refs/for/refs/*"]
	read = group user/Patrik Norman (patsy)
	push = group user/Patrik Norman (patsy)
	label-Code-Review = -2..+2 group user/Patrik Norman (patsy)
	label-Verified = -1..+1 group user/Patrik Norman (patsy)
	rebase = group user/Patrik Norman (patsy)
	removeReviewer = group user/Patrik Norman (patsy)
	submit = group user/Patrik Norman (patsy)
[access "refs/heads/*"]
	read = group user/Patrik Norman (patsy)
	create = group user/Patrik Norman (patsy)
	push = +force group user/Patrik Norman (patsy)
	pushMerge = group user/Patrik Norman (patsy)
[access "refs/tags/*"]
	push = +force group user/Patrik Norman (patsy)
	pushTag = group user/Patrik Norman (patsy)
	pushSignedTag = group user/Patrik Norman (patsy)
