<html>
<head>
    <title>Runtracker</title>
    <link rel="stylesheet" href="style.css" />
    <script src="http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js"></script>
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
 <![endif]-->

</head>
 
<body class="body">
<h1 class="title">Welcome to Runtracker</h1>
<form action="/login" method="post" class="login-form">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>

<div>
    <a href="/register">Register</a>
</div>

<p class="main">This is small app called runtracker. Hopefully, in time, you will be able to register an account and create a profile and upload and download your runtracks as well as analyzing them in different ways.</p>

</body>
</html>