extend layout
block main-content
  form.login-form(action="/login" method="post")
    div
      label Username:
      input(type="text" name="username")
    div
      label Password:
      input(type="password" name="password")
    div
      input(type="submit" value="Log In")
  a(href="/register") Register
  p.
    This is small app called Runtracker. You can register an account and hopefully soon upload and download your runtracks as well as analyzing them in different ways.