doctype html
html
  head
    title #{title} - Runtracker
    link(rel='stylesheet', href='/style.css')
    link(rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css")
    script(src="http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js")
    script(src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js")
  body
    header
      h1 Runtracker
    .container
      .main-content
        block main-content
  block post-body
      footer
      p Awesome footer