doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title} - Runtracker
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href='/style.css')
    link(rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css")
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/leaflet/dist/leaflet.js")
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
  body
    header
      h1 Runtracker
    .container
      .main-content
        block main-content
  block tracklist
  block post-body
      footer
      p Awesome footer
