<html>
<head>
    <title>Runtracker</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js"></script>
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
 <![endif]-->
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>

</head>
 
<body class="body">
<h1 class="title">Map</h1>
<div id="map" class="map" style="height: 480px"></div>

</body>
<script src="map.js"></script>
</html>