extend layout
block main-content
  div
    form#upload-gpx-form(action="/api/location" method="post" enctype="multipart/form-data")
      input(id="file-select" type="file" name="gpxfile")
      input(id="upload-button" type="submit" value="Upload GPX")
  div
    form#logout-form(action="/logout" method="post")
      input(id="loginout-button" type="submit" value="Log Out")

    .map#map(style="height: 480px")
  div
    ul
      each fCol in featureCollections
        each feat in fCol.features
          li= feat.properties.name

  block tracklist
    script(src="/map.js")
