.body { 
	background: url('ricepaper_v3.png');
}

.map {
	border: 2px solid;
}

.title {
	font-family: "Courier New", "Lucida Console";
	font-size: 24 px;
}

.login-form {
	font-family: "Courier New", "Lucida Console";
	font-size: 18 px;
}

.main {
	font-family: "Courier New", "Lucida Console";
	font-size: 14 px;
}